body {
  margin: 0;
  padding: 0;
  color: #000000;
  scroll-behavior: smooth;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}



.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  text-align: center;

}

hr {
  border: 1px solid;
  width: 100%;
  background-color: white;
}

.navbar a {
  color: black;
  margin: 0 15px;
  text-decoration: none;
  font-weight: 350;
}

.left {
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.04em;
}

.right {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin-top: 13px;
  margin-right: 10px;



}

.main {
  text-align: center;
  padding: 50px 20px;
  background-color: white;
}

h3 {
  font-family:Roboto Mono;
  font-weight: 350;
  font-size: 20px;
  margin: 7px auto;
  line-height: 24px;
}

h4 {
  font-family:Roboto Mono;
  margin-top: 0px;
  font-size: 18px;
  padding: 0;
  font-weight: 350;
  line-height: 24px;;
}

.main h1 {
  font-size: 125px;
  font-weight: 400;
  line-height: 120px;
  letter-spacing: -0.02em;
  text-align: center;
}


.main img {
  max-width: 100%;
  height: auto;
  border-radius: 56px;
  transition: transform 0.3s ease-in-out;
}

.main img:hover {
  cursor: pointer;
  transform: scale(1.01)
}

.projects {
  padding: 30px 20px;
  width: 93%;
  margin: 0 auto;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}

.project-item img {
  width: 100%;
  /* border-radius: 10px; */
}

.project-item {
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  cursor: pointer;
  transform: scale(1.04)
}

.about {
  width: 93%;
  margin: 0 auto;
  padding: 30px 20px;
}

.about p {
  margin: 60px 0;
  font-size: 48px;
  margin-bottom: 100px;
  line-height: 52px;
  font-weight: 400;
  width: 45vw;

}

.about-images {
  display: flex;
  gap: 48px;
  flex: 1;
}

.img1 {
  height: 650px;

}

.img2 {
  height: 650px;
}

.about-images img {
  max-width: 50vw;
  /* border-radius: 10px; */
}

.portfolio {
  padding: 30px 20px;
}

.portfolio-text {
  font-size: 24px;
  margin-bottom: 30px;
  width: 42vw;
  margin-bottom: 100px;
  margin-left: 750px;
  font-family:Roboto Mono;
  font-weight: 350;
  line-height: 32px;
  letter-spacing: -0.005em;


}

.portfolio-grid {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}

.portfolio3 {
  margin-left: 600px;
  height: 572px;

}


.portfolio2 {
  grid-column: 2/3;
  grid-row: 1/3;


}

.portfolio-grid img {
  width: 100%;
  /* border-radius: 10px; */
}

footer {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  color: black;
  position: relative;
  margin-top: 60px;
  
}

.contact-btn {
  background-color: white;
  color: black;
  margin: 20px;
  padding: 10px 20px;
  border: 1.5px solid;
  border-radius: 5px;
  cursor: pointer;
  height: 48px;
  width: 169px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  font-family:Roboto Mono;
}

.contact-btn:hover {
  background-color: gray;
  color: aliceblue;
}


#left1 {
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.01em;
  margin-left: 35px;
}

.right2 {
  margin-right: 20px;
}